@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
  --header-color: #36453b;
  --navbar-color: #596869;
  --bidtracknav-color: #c2c1a5;
  --bidtrackcontent-color: #f5f9e9;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}



/* ---- Login -------- */

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bidtrackcontent-color);
  width: 100%;
  height: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
}

.login input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login button {
  font-family: inherit;
  background-color: var(--navbar-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}


/* ----  Header  ------ */
.header-main {
  background-color: var(--header-color);
  color: white;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.header-main-repo {
  color: white;
  background-color: var(--danger-color);
  padding: 4px;
  border: solid 1px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

.header-main a:hover {
  color: var(--dark-color);
}

.header-main a:active {
  transform: scale(0.96);
}


.header-main button {
  background: var(--navbar-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.header-main ul {
  display: flex;
}

.header-main .welcome span {
  margin-right: 0.6rem;
}


/* ----  NavBar  ----  */

.navbar {
  display: flex;
  background-color: var(--navbar-color);
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.navbar button {
  background: var(--bidtracknav-color);
  color: black;
  border: none;
  padding: 5px 30px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.navbar button:active {
  transform: scale(.96);
}


/* ----  BidTrackMain  ---- */

.bidtrackmain {
  display: flex;
  background-color: var(--bidtrackcontent-color);
  height: 100%;
  overflow-y: scroll;
}


/* --- BidTrackContent  ---- */

.bidtrackcontent-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.bidtrackcontent-container img {
  padding: 0px;
}

.bidtrackcontent {
  display: flex;
  flex-direction: column;
}

.container {
  flex: auto;
  padding: 30px;
  width: 70%;
  min-height: 300px;
}

footer {
  margin-top: auto;
  margin-bottom: 10px;
  text-align: center;
  justify-content: flex-end;
}


/* ---- BidTrackSummary ---- */

.summary-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}


.summary-table {
  font-family: inherit;
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 4px;
  vertical-align: initial;
}

th {
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--header-color);
  color: white;
}


.summary-table tr:hover {
  background-color: #ddd;
}

.summary-table tfoot {
  font-size: 25px;
}



/* --- BidTrackNav  ---- */

.bidtracknav {
  display: flex;
  background-color: var(--bidtracknav-color);
  margin-left: 0;
  /*margin-right: auto;*/
  padding: 10px;
  min-width: 15%;
  flex-direction: column;
  align-items: center;
}

.navselectheader {
  margin-top: 10px;
  text-decoration: underline;
  font-size: 20px;
  font-family: inherit;
  text-align: center;
}

.navselectitems {
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  width: 100%;
  font-family: inherit;
  list-style-type: none;
}

.navselectitem {
  margin: 8px 8px;
  text-align: center;
}

.navselectitem:hover {
  border: 2px;
  background-color: var(--bidtrackcontent-color);
  border-radius: 5px;
}

.navselectaddtrade-form {
  display: block;
  position: fixed;
  width: 100%;
  margin-left: 30%;
  margin-top: 10%;
  border: 3px solid #f1f1f1;
  max-width: 300px;
}

.navselectaddtrade-form-container {
  max-width: 400px;
  text-align: center;
  padding: 20px;
  background-color: white;
}

.navselectaddtrade-form-container input[type=text]:focus {
  background-color: #ddd;
}

.navselectaddtrade-form-container input[type=text] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.navselectaddtrade-form-container .btn {
  color: white;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-bottom:10px;
  opacity: 0.8;
}

.navselect-tradebtns {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 15px;
}




/* ----  BidTrackLandingPage  ---- */

.bidtrack-landingpage {
  position: absolute;
  top: 15%;
  left: 80%;
  color: white;
  z-index: +2;
}

/* ----- img ----*/

img {
  position: absolute;
  width: 100%;
  max-height: 100%;
  margin: 0px;
  z-index: +1;
  overflow: hidden;
  /*object-fit: cover;*/
}



/* ----- BidTrackLevel ---- */


.bidlevelitem {
  margin-left: 15px;
}

.itemform label {
  margin-top: 20px;
  margin-right: 3px;
}

.itemform button {
  background: var(--header-color);
  color: #fff;
  border: none;
  padding: 5px 8px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.itemform input {
  padding: 5px;
  margin: 8px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}





/* ----  BitTrackBids  ---- */




.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}


.bid {
  background: var(--bidtracknav-color);
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.bid.reviewed {
  border-left: 10px solid green;
}

.bid h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bid p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemlist {
  /**/
}

.item {
  display: flex;
}

.item:hover {
  background-color: var(--bidtrackcontent-color);
  padding: 3px;
  border-radius: 5px;
}

.itemproperties {
  display: flex;
  height: 100%;
  align-items: center;
}

.itemproperties p {
  display: flex;
  margin-left: 30px;
}


.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}
.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}


/* ----  Buttons  ---- */


.btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-trade {
  align-self: center;
  text-align: center;
  width: 100%;
  font-size: 12px;
}

.btn-logout {
  margin: 5px;
  padding: 5px 15px;
  background: var(--navbar-color);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.96);
}

.btn-block {
  display: block;
  width: 100%;
}



